.transport-page{
min-height:100vh;
padding:50px;
background:#F1E2D1;
}

.transport-page h1{
text-align:center;
font-size:42px;
font-weight:700;
color:#810B38;
margin-bottom:40px;
}

.route-card{
width:85%;
margin:auto;
padding:35px;

background:rgba(220,195,170,.7);

backdrop-filter:blur(20px);

border-radius:35px;

box-shadow:
0 15px 40px rgba(0,0,0,.15);

display:flex;
flex-direction:column;
gap:25px;
}

.route-card input{

height:55px;

padding-left:20px;

border:none;
outline:none;

font-size:16px;

border-radius:30px;

background:white;

box-shadow:
0 4px 15px rgba(0,0,0,.08);
}

.route-card input:focus{

border:2px solid #810B38;
}

.assistance-box{

display:flex;

justify-content:space-between;

align-items:center;

padding:10px;

font-size:18px;

font-weight:600;

color:#541A1A;
}

.assistance-box input{

height:20px;
width:20px;

cursor:pointer;
}

.route-card button{

height:55px;

border:none;

border-radius:30px;

font-size:18px;

font-weight:600;

cursor:pointer;

color:white;

background:linear-gradient(
135deg,
#810B38,
#541A1A
);

transition:.4s;
}

.route-card button:hover{

transform:translateY(-5px);

box-shadow:
0 10px 25px rgba(129,11,56,.35);
}

.transport-grid{

margin-top:50px;

display:flex;

justify-content:center;

gap:35px;

flex-wrap:wrap;
}

.transport-card{

width:320px;

padding:30px;

border-radius:30px;

background:white;

position:relative;

overflow:hidden;

transition:.5s;

box-shadow:
0 10px 30px rgba(0,0,0,.12);
}

.transport-card:hover{

transform:
translateY(-12px)
scale(1.03);

box-shadow:
0 20px 40px rgba(0,0,0,.18);
}

.transport-card::before{

content:"";

position:absolute;

top:0;
left:0;

width:100%;
height:8px;

background:linear-gradient(
90deg,
#810B38,
#541A1A
);
}

.transport-card h2{

font-size:34px;

color:#810B38;

margin-bottom:20px;
}

.transport-card p{

font-size:16px;

color:#444;

margin:10px 0;
}

.transport-card h3{

margin-top:20px;

font-size:28px;

color:#541A1A;
}

.assist-box{

margin-top:20px;

padding:15px;

background:#F1E2D1;

border-radius:15px;

line-height:2;

color:#541A1A;

font-weight:600;
}

.transport-card button{

width:100%;

margin-top:20px;

height:50px;

border:none;

border-radius:30px;

font-size:16px;

font-weight:600;

cursor:pointer;

background:#810B38;

color:white;

transition:.4s;
}

.transport-card button:hover{

background:#541A1A;

transform:scale(1.05);
}

/* Mobile */

@media screen and (max-width:768px){

.transport-page h1{

font-size:30px;
}

.route-card{

width:95%;
padding:20px;
}

.transport-card{

width:100%;
}

}
.assist-check{

width:24px;
height:24px;

accent-color:#810B38;

cursor:pointer;
}