.navbar{

position:sticky;
top:0;
z-index:1000;

display:flex;
justify-content:space-between;
align-items:center;

padding:25px 60px;

background:rgba(255,255,255,.85);

backdrop-filter:blur(20px);

box-shadow:
0px 8px 25px rgba(0,0,0,.08);

border-bottom:
2px solid rgba(129,11,56,.1);
}

.logo-container{

display:flex;
flex-direction:column;
}

.logo{

font-size:42px;
font-weight:800;

margin:0;

color:#810B38;

letter-spacing:1px;
}

.tagline{

margin-top:5px;

font-size:14px;

font-weight:600;

color:#541A1A;

opacity:.7;
}

.nav-links{

display:flex;
align-items:center;
gap:40px;

list-style:none;
}

.nav-item{

text-decoration:none;

font-size:20px;
font-weight:700;

color:#541A1A;

transition:.3s;
}

.nav-item:hover{

color:#810B38;

transform:translateY(-2px);
}

.logout-btn{

padding:14px 28px;

border:none;
border-radius:40px;

background:linear-gradient(
135deg,
#810B38,
#541A1A
);

color:white;

font-size:16px;
font-weight:700;

cursor:pointer;

box-shadow:
0px 8px 20px rgba(0,0,0,.15);

transition:.4s;
}

.logout-btn:hover{

transform:translateY(-5px);

box-shadow:
0px 12px 25px rgba(0,0,0,.25);
}
@media screen and (max-width:768px){

.navbar{

padding:20px;

flex-direction:column;

gap:20px;
}

.logo{

font-size:32px;
}

.nav-links{

gap:20px;

flex-wrap:wrap;

justify-content:center;
}

.nav-item{

font-size:16px;
}

}