.card{
width:320px;
background:#DCC3AA;
border-radius:28px;
overflow:hidden;
cursor:pointer;
position:relative;

box-shadow:
0px 12px 30px rgba(0,0,0,0.12);

transition:
transform .4s ease,
box-shadow .4s ease;

display:flex;
flex-direction:column;
}

.card:hover{

transform:
translateY(-12px)
scale(1.02);

box-shadow:
0px 20px 40px rgba(
129,
11,
56,
0.25
);

}

.image-container{
position:relative;
overflow:hidden;
height:220px;
}

.image-container img{

width:100%;
height:100%;
object-fit:cover;

transition:
transform .6s ease;

}

.card:hover img{

transform:scale(1.1);

}

.image-container::after{

content:'⭐ 4.8';

position:absolute;
top:15px;
left:15px;

background:white;
padding:10px 15px;

border-radius:30px;

font-weight:700;

font-size:14px;

color:#541A1A;

box-shadow:
0px 5px 15px rgba(
0,0,0,.2
);

}

.price-tag{

position:absolute;

bottom:15px;
right:15px;

background:
linear-gradient(
135deg,
#810B38,
#541A1A
);

color:white;

padding:
10px 20px;

border-radius:30px;

font-weight:bold;

}

.card-body{

padding:25px;

display:flex;
flex-direction:column;
gap:12px;
}

.card-body h2{

color:#810B38;

font-size:34px;

font-weight:700;

margin:0;
}

.card-body p{

color:#541A1A;

line-height:1.7;

font-size:16px;
}

.card-body h3{

color:#541A1A;

font-size:30px;

margin-top:auto;
}

.details-btn{

margin-top:15px;

border:none;

padding:15px;

border-radius:40px;

font-size:16px;
font-weight:bold;

cursor:pointer;

background:
linear-gradient(
135deg,
#810B38,
#541A1A
);

color:white;

transition:.4s;
}

.details-btn:hover{

transform:scale(1.05);

box-shadow:
0px 8px 20px rgba(
129,
11,
56,
0.3
);

}

@media(max-width:768px){

.card{

width:100%;
}

.card-body h2{

font-size:28px;
}

}